let mapleader = ","

""" ideavimrc
nnoremap <Leader>ev :e ~/.ideavimrc<CR>
nnoremap <Leader>sv :action IdeaVim.ReloadVimRc.reload<CR>

""" common
set showmode
set hlsearch
set incsearch
set ignorecase
set smartcase
set scrolloff=4
nnoremap <silent> <BS> :nohlsearch<CR>

inoremap jk <Esc>

inoremap <C-h> <LEFT>
inoremap <C-j> <DOWN>
inoremap <C-k> <UP>
inoremap <C-l> <RIGHT>
"inoremap <C-a> <Home>
"inoremap <C-e> <End>

set clipboard+=unnamed

vnoremap > >gv
vnoremap < <gv

""" 安装IdeaVimExtension
"set keep-english-in-normal
set keep-english-in-normal-and-restore-in-insert

""" plugin
set NERDTree
set ReplaceWithRegister
set highlightedyank
set ideajoin
set keep-english-in-normal
set multiple-cursors
set surround
set commentary

""" plugin: ReplaceWithRegister
map _ gr

""" plugin: highlightedyank
let g:highlightedyank_highlight_duration = "2000"
"let g:highlightedyank_highlight_color = "rgba(255, 215, 0, 1)"
"let g:highlightedyank_highlight_color = "rgba(160, 160, 160, 155)"

" plugin: multiple-cursors
map <C-n> <A-n>
map <C-P> <A-P>
map <C-X> <A-X>
map g<C-N> g<A-N>

""" plugin: AceAction
""" default <C-;>
nnoremap <Leader>f :action AceAction<CR>
nnoremap <Leader>F :action AceLineAction<CR>

""" plugin: String Manipulation
nnoremap <Leader>ss :action osmedile.intellij.stringmanip.PopupChoiceAction<CR>

""" plugin: Translation
nnoremap <Leader>tl :action TranslationPopupMenu<CR>

""" right click
nnoremap <Leader>pp :action ShowPopupMenu<CR>

""" ProjectWindow
"nnoremap <Leader>bn :action NextProjectWindow<CR>
"nnoremap <Leader>bp :action PreviousProjectWindow<CR>
"nnoremap <Leader>b; :action OpenProjectWindows<CR>

""" tab
"nnoremap <C-1> :action GoToTab1<CR>
"nnoremap <C-2> :action GoToTab2<CR>
"nnoremap <C-3> :action GoToTab3<CR>
"nnoremap <C-4> :action GoToTab4<CR>
"nnoremap <C-5> :action GoToTab5<CR>
"nnoremap <C-6> :action GoToTab6<CR>
"nnoremap <C-7> :action GoToTab7<CR>
"nnoremap <C-8> :action GoToTab8<CR>
"nnoremap <C-9> :action GoToTab9<CR>

""" tab
nnoremap <Space>1 gT
nnoremap <Space>2 gt
nnoremap <Space>0 :q<CR>
nnoremap <Leader>qa :action CloseAllEditors<CR>
nnoremap <Leader>qo :action CloseAllEditorsButActive<CR>

""" plugin: NERDTree
" P: go to root
" p: go to parent
" K: go to first child
" J: go to last child
" <C-j>: go to next sibling
" <C-k>: go to prev sibling
"nnoremap <Space>fs :NERDTree<CR>
nnoremap <Space>fs :NERDTreeToggle<CR>

""" 用NERDTree代替
" nnoremap <Leader>zp :action ActivateProjectToolWindow<CR>
nnoremap <Leader>ha :action HideAllWindows<CR>
nnoremap <Leader>sb :action HideActiveWindow<CR>

"nnoremap <Space>si :action SelectInProjectView<CR>
"nnoremap <Leader>si :action ActivateProjectToolWindow<CR>

""" search
" idea自带的搜索配置
nnoremap <Space>/ :action Find<CR>
nnoremap <Space>fi :action FindInPath<CR>
"nnoremap <Leader>fm :action FindUsagesMenuGroup<CR>
nnoremap <Space>hu :action HighlightUsagesInFile<CR>

" outline
nnoremap <Space>ol :action FileStructurePopup<CR>
nnoremap <Leader>ol :action ActivateStructureToolWindow<CR>

nnoremap <Space>fu :action FindUsages<CR>
nnoremap <Space>gr :action ShowUsages<CR>
nnoremap <Space>gi :action GotoImplementation<CR>
nnoremap <Space>gs :action GotoSuperMethod<CR>
nnoremap <Space>gd :action GotoDeclaration<CR>
nnoremap <Space>gt :action GotoTest<CR>
" show return type
nnoremap <Space>rt :action ExpressionTypeInfo<CR>

""" type
nnoremap <Space>ot :action GotoClass<CR>
""" resources
nnoremap <Space>or :action SearchEverywhere<CR>

" :action CodeMenu<CR>
" assign an additional shortcut to that action in your Keymap, exit IDE and check IDE config files
" /Users/${username}/Library/Application Support/JetBrains
nnoremap <Space>qf :action ShowIntentionActions<CR>
nnoremap <Space>ll :action IntroduceActionsGroup<CR>
inoremap <C-,> <Esc>:action IntroduceVariable<CR>
nnoremap <Leader>iv :action IntroduceVariable<CR>
nnoremap <Space>rf :action Refactorings.QuickListPopupAction<CR>
vnoremap <Space>rf :action Refactorings.QuickListPopupAction<CR>
nnoremap <Space>rm :action RefactoringMenu<CR>
nnoremap <Space>sw :action SurroundWith<CR>
vnoremap <Space>sw :action SurroundWith<CR>

" rename
nnoremap <Space>rn :action RenameElement<CR>
nnoremap <Space>ge :action Generate<CR>
vnoremap <Space>em :action ExtractMethod<CR>
nnoremap <Space>om :action OverrideMethods<CR>
nnoremap <Space>im :action ImplementMethods<CR>
nnoremap <Space>oi :action OptimizeImports<CR>

" SelectAllOccurrences
nnoremap <C-j> :action GotoNextElementUnderCaretUsage<CR>
nnoremap <C-k> :action GotoPrevElementUnderCaretUsage<CR>

" history
nnoremap <Leader>cf :action RecentChangedFiles<CR>
nnoremap <Leader>lh :action LocalHistory.ShowHistory<CR>

nnoremap [e :action GotoPreviousError<cr>
nnoremap ]e :action GotoNextError<cr>
nnoremap <C-o> :action Back<CR>
nnoremap <C-i> :action Forward<CR>
nnoremap <Leader>rl :action RecentLocations<cr>

nnoremap <Space>se :action ShowErrorDescription<CR>
nnoremap == :action ReformatCode<CR>
nnoremap <Space>fm :action ReformatCode<CR>

""" execute
nnoremap <Leader>rm :action Run<CR>
nnoremap <Leader>rc :action RunClass<CR>
nnoremap <Leader>cr :action ChooseRunConfiguration<CR>
nnoremap <Leader>cg :action RunContextPopupGroup<CR>

nnoremap <Leader>cc :action CommentByLineComment<CR>
vnoremap <Leader>cc :action CommentByLineComment<CR>
"vnoremap <Leader>cc :action CommentByBlockComment<CR>

nnoremap <Leader>nc :action NewClass<CR>

""" File
nnoremap <Leader>sp :action ShowFilePath<CR>

""" debug
nnoremap <Leader>rd :action Debug<CR>
nnoremap <Leader>db :action ToggleLineBreakpoint<CR>
nnoremap <Leader>dv :action ViewBreakpoints<CR>
nnoremap <F4> <ESC>:action Stop<CR>
nnoremap <F5> <ESC>:action Resume<CR>
nnoremap <F6> <ESC>:action StepOver<CR>
nnoremap <F7> <ESC>:action SmartStepInto<CR>
nnoremap <F8> <ESC>:action StepOut<CR>
nnoremap <F9> <ESC>:action EvaluateExpression<CR>

nnoremap <A-j> :action MoveLineDown<CR>
nnoremap <A-k> :action MoveLineUp<CR>
vnoremap <A-j> :action MoveStatementDown<CR>
vnoremap <A-k> :action MoveStatementUp<CR>

nnoremap [[ :<C-u>action MethodUp<CR>
nnoremap ]] :<C-u>action MethodDown<CR>

nnoremap <Leader>ic :action InspectCode<CR>

nnoremap <Leader>mr :action Maven.Reimport<CR>


nnoremap <Space>cr :action CopyReferencePopupGroup<CR>

nnoremap \pi :action ParameterInfo<CR>
nnoremap \mh :action MethodHierarchy<CR>
nnoremap \th :action TypeHierarchy<CR>
nnoremap \ch :action CallHierarchy<CR>

nnoremap <Leader>j1 :action QuickJavaDoc<CR>
nnoremap <Leader>j2 :action QuickImplementations<CR>

nnoremap <Leader>gi :action JumpToLastChange<CR>

nnoremap <Leader>vv :action ViewImportPopups<CR>
